# Godot
.godot/
*.translation

# Rust / Cargo
target/
Cargo.lock

# User-specific
.vscode/
.idea/
*.swp
*.bak

# Build and Binary artifacts
/GodotProject/build/*
/GodotProject/roms/*
/GodotProject/games/*

# Keep the README files for structure
!GodotProject/roms/README.md
!GodotProject/games/README.md

