# Godot
.godot/
*.translation

# Rust / Cargo
target/
Cargo.lock

# User-specific
.vscode/
.idea/
*.swp
*.bak

# Build and Binary artifacts
/GodotProject/games/*

#keep files
!GodotProject/games/znake.tap
!GodotProject/games/README.md

